In [1]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,accuracy_score,recall_score,confusion_matrix
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataSet1 = pd.read_csv('student-por.csv')
dataSet1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [3]:
dataSet2 = pd.read_csv('student-mat.csv')
dataSet2.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
dataSet=pd.concat([dataSet1,dataSet2], ignore_index=True)
dataSet.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [5]:
y1=dataSet['Dalc']
y2=dataSet['Walc']
dataSet.drop('Walc',axis=1,inplace=True)
dataSet.drop('Dalc',axis=1,inplace=True)

In [6]:
target = pd.concat([y1, y2], axis=1, sort=False)
target.head()

   Dalc  Walc
0     1     1
1     1     1
2     2     3
3     1     1
4     1     2

[0, 0]

In [8]:
dataSet=pd.get_dummies(dataSet)
dataSet.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,health,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,18,4,4,2,2,0,4,3,4,3,...,1,0,0,1,0,1,1,0,1,0
1,17,1,1,1,2,0,5,3,3,3,...,1,0,1,0,0,1,0,1,1,0
2,15,1,1,1,2,0,4,3,2,3,...,1,0,0,1,0,1,0,1,1,0
3,15,4,2,1,3,0,3,2,2,5,...,0,1,0,1,0,1,0,1,0,1
4,16,3,3,1,2,0,4,3,2,5,...,1,0,0,1,0,1,1,0,1,0

In [9]:
x=dataSet
y=target

In [10]:
#train and test data set spilitting
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [1044, 2]

In [17]:
#creating and fitting random forest model
forest = RandomForestClassifier(n_estimators=500)
forest.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [18]:
print('Accuracy on the training subset: {:.3f}'.format(forest.score(X_train, y_train)))
print('Accuracy on the test subset: {:.3f}'.format(forest.score(X_test, y_test)))

ValueError: multiclass-multioutput is not supported

In [19]:
#confusion matrix
predictions = forest.predict(X_test)
print(confusion_matrix(y_test,predictions))

ValueError: multiclass-multioutput is not supported

In [64]:
#accuracy=(TP+TN)/(TP+TN+FP+FN)
#print(accuracy_score(y_test,predictions))
matrix=confusion_matrix(y_test,predictions)
simple=(matrix[0][0]+matrix[1][1])/(matrix[0][0]+matrix[0][1]+matrix[1][0]+matrix[1][1])
print('simple accuracy: {:.3f}'.format(simple))
#classification report
#print(classification_report(y_test,predictions))

simple accuracy: 1.000