In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,recall_score,confusion_matrix
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataSet = pd.read_csv('caravan-insurance-challenge.csv')
dataSet.head()

,ORIGIN,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,train,33,1,3,2,8,0,5,1,3,...,0,0,0,1,0,0,0,0,0,0
1,train,37,1,2,2,8,1,4,1,4,...,0,0,0,1,0,0,0,0,0,0
2,train,37,1,2,2,8,0,4,2,4,...,0,0,0,1,0,0,0,0,0,0
3,train,9,1,3,3,3,2,3,2,4,...,0,0,0,1,0,0,0,0,0,0
4,train,40,1,4,2,10,1,4,1,4,...,0,0,0,1,0,0,0,0,0,0

In [3]:
#catagorical feature for encoding purpose
cat_feats = ['ORIGIN']

In [4]:
#to create a fixed larger dataframe that has new feature columns with dummy variables. Set this dataframe as final_data.
final_data = pd.get_dummies(dataSet,columns=cat_feats,drop_first=True)
final_data.head()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN,ORIGIN_train
0,33,1,3,2,8,0,5,1,3,7,...,0,0,1,0,0,0,0,0,0,1
1,37,1,2,2,8,1,4,1,4,6,...,0,0,1,0,0,0,0,0,0,1
2,37,1,2,2,8,0,4,2,4,3,...,0,0,1,0,0,0,0,0,0,1
3,9,1,3,3,3,2,3,2,4,5,...,0,0,1,0,0,0,0,0,0,1
4,40,1,4,2,10,1,4,1,4,7,...,0,0,1,0,0,0,0,0,0,1

In [5]:
    #train and test data set spilitting
    X = final_data.drop('ORIGIN_train',axis=1)
    y = final_data['ORIGIN_train']
    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.30,random_state=42)

In [6]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [7]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [8]:
# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("accuracy{:.3f}".format(accuracies.mean()))
#accuracies.std()

accuracy0.578

In [9]:
# Making the Confusion Matrix
a=confusion_matrix(y_test, y_pred)
a

array([[  51, 1118],
       [  93, 1685]])